.contact {
  position: relative;
  background: #2a2c2f;
}

.contact__overlay {
  position: relative;
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  background: url(../images/visit_us_image.png) no-repeat center/cover;
  transition: opacity 0.3s ease-in-out;
}

.contact__overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 243px;
}

.contact__overlay-title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 0em;
  padding-bottom: 32px;
  text-align: center;
}

.contact__overlay-address {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.contact__button-container {
  padding-top: 32px;
}

.contact__button {
  text-decoration: none;
  background-color: #0278fe;
  color: #ffffff;
  max-width: 137px;
  padding: 13px 20px;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  transition: background 0.3s ease-in-out;
}

.contact__overlay:hover {
  opacity: 0.8;
  z-index: 1;
}
.contact__button:hover {
  background: #0063d2;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  .contact__overlay {
    max-width: 320px;
    min-height: 256px;
    padding-top: 64px;
  }

  .contact__overlay-content {
    margin: 0 auto;
    max-width: 288px;
    max-height: 163px;
    padding-top: 46px;
  }

  .contact__overlay-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 16px;
  }

  .contact__overlay-address {
    max-width: 280px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
}
