.intro__grid-container {
  position: relative;
  max-width: calc(100% - 94px);
  margin: 0 auto;
}

.intro__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  padding-top: 118px;
}

.intro__grid-image {
  width: 100%;
}
@media screen and (max-width: 960px) {
  .intro__grid-container {
    max-width: 720px;
    margin: 0 auto;
  }

  .intro__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    padding-top: 90px;
  }
}

@media screen and (max-width: 600px) {
  .photo__grid-container {
    max-width: 288px;
    margin: 0 auto;
    padding-bottom: 62px;
  }

  .photo__grid {
    display: flex;
    flex-direction: column;
    column-gap: 12px;
  }
}
